* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}

.main {

    margin: 20px auto;
    background-color: white;
    height: 100%;
    box-shadow: 3px 3px 15px whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 15px;
    padding: 15px 20px;
}

.main .search-box .search-inp {
    padding: 12px 30px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.311);

}

.main .sec-container {
    max-height: 100%;
    background: linear-gradient(to bottom, #90CAF9, white);
    border-radius: 15px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.311);
    padding: 20px;
    /* display: flex; */
}

.sec-container .location {
    max-height: 100%;
    /* background-color: bisque; */

    padding: 0px 20px;
    margin-bottom: 30px;

}

.location .city {
    display: flex;
    gap: 10px;
}

.location .city .icon {
    font-size: 1.5rem;
}

.location .date {
    font-weight: 600;
    margin-left: 2.5rem;
}

.location .city>h3 {
    font-weight: 500;
}

.sec-container .inner {
    display: flex;
    gap: 20px;
}

.sec-container .inner .left {
    max-height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    gap: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.32);
}

.inner .left .img {
    width: 100%;
}

.inner .left .img img {
    animation: rotate 30s linear 0s infinite;

}

@keyframes rotate {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.inner .left .temperature {
    width: 100%;
    /* font-size: 3rem; */

}

.left .temperature span {
    font-size: clamp(2em, 2.5rem, 5.5rem);
    font-weight: 600;

}

.left .temperature>p {
    font-weight: 700;
}

.sec-container .inner .right {
    height: 100%;

}

.right .about-weather {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right .about-weather .condtion {
    height: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.326);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.condtion .condtion-left {
    display: flex;
    align-items: center;
}


.condtion .condtion-left .icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

}


.right .about-weather .condtion-4 {
    border-bottom: none;
}

.tablet-condition {
    display: none;
}

.main .sunRiseSet {
    width: 100%;
    max-height: 100%;
    display: flex;
    /* justify-content: space-around; */

    margin: 25px 0px;
    gap: 20px;
    /* border: 2px solid black; */
    border-radius: 15px;
    padding: 15px 0px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.304);
}

.sunRiseSet .sun {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
}

.sunRiseSet .left-rise {
    border-right: 1px solid rgba(0, 0, 0, 0.292);
}

.sun .detail .time {
    font-size: 1.5rem;
    font-weight: 700;
}

@media (max-width:768px) {
    .sec-container .inner .right {
        height: 100%;
        display: none;
    }

    .sec-container .inner .left {
        border-right: none;
    }

    .tablet-condition {
        height: 100%;
        display: block;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-height: 250px;
        margin-top: 30px;
        gap: 8px;
        padding: 0px;
    }

    .tablet-condition .box {
        /* width: 100%; */
        border: 1px solid rgba(0, 0, 0, 0.292);
        border-radius: 15px;
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.221);
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 8px;
    }

    .sunRiseSet .sun {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .sun .img img {
        height: 60px !important;
    }

    .sun .detail .time {
        font-size: 1.2rem;
        font-weight: 700;
    }

}

@media (max-width:580px) {

    .tablet-condition {
        max-height: 100%;

        /* display: block; */
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .sunRiseSet .sun {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .sun .img img {
        height: 50px !important;
    }

    .sun .detail .time {
        font-size: 1rem;
        font-weight: 600;
    }

}


@media (max-width:375px) {
    .left .temperature span {
        font-size: 2.5rem;
        font-weight: 600;

    }

    .inner .left .img img {
        height: 90px !important;
    }
    
    .inner .left .img img {
        height: 75px !important;
    }

    
    .sunRiseSet .sun {
        gap: 10px;
    }

    .sun .img img {
        height: 40px !important;
    }

    .sun .detail .time {
        font-size: 0.9rem;
        font-weight: 600;
    }

}

@media (max-width:330px) {
    .tablet-condition {
        max-height: 100%;

        /* display: block; */
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .left .temperature span {
        font-size: 2rem;
        font-weight: 600;

    }

    .inner .left .img img {
        height: 75px !important;
    }

    
    .sunRiseSet .sun {        
        gap: 10px;
    }

    .sun .img img {
        height: 30px !important;
    }

    .sun .detail .time {
        font-size: 0.9rem;
        font-weight: 600;
    }
}